* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 12px;
}

h1 {
    font-size: 15px;
}

/* UTILITY CLASSES */
.row {
    width: 100%;
}

.margin1 {
    margin-bottom: 1rem;
}

[class*="col-"] {
    padding: 1rem;
    border: 1px solid white;
    background-color: #006CFA;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.inside.row {
    width: calc(100% - 1rem)
}

.nested {
    background-color: #00E165;
    border: 1px solid #006CFA;
}

.second.row {
    height: 40.4px;
}