* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 12px;
}

h1 {
    font-size: 20px;
}

h2 {
    font-size: 20px;
}

/* UTILITY CLASSES */
.row {
    width: 100%;
    height: 4rem;
}

.margin1 {
    margin-bottom: 1.5rem;
}

[class*="col-"] {
    border: 1px solid white;
    background-color: #006CFA;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.inside.row {
    height: 70%;
    margin: .7rem;
}

.nested {
    border: 1px solid #006CFA;
    background-color: #00E165;
}
